.appName {
  color: black;
  font-size: 18px;
  font-weight: 300;
  white-space: initial;
}

.appList {
  color: var(--ion-color-dark-grey);
  font-size: 14px;
  font-weight: 300;
  white-space: initial;
}

.detailsIcon {
  margin: auto;
}

.informationIcon {
  font-size: 18px;
  float: right;
}

.box {
  padding: 6px;
}

#grad {
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to right, red, orange, yellow, green);
}

.has-card-footer {
  padding-bottom: 15px;
}

// .flex-container {
//   display: flex;
//   flex-wrap: nowrap;
//   background-color: DodgerBlue;
// }

// .flex-container > div {
//   background-color: #f1f1f1;
//   width: 25%px;
//   margin: 10px;
//   text-align: center;
//   line-height: 75px;
//   font-size: 30px;
// }

.talk {
  background: var(--ion-color-secondary);
  box-shadow: 4px 3px 15px 1px #000000;
  border-radius: 20px;
  height: 99px;
  position: relative;
  width: 93px;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  padding: 30px 0 0 0;
  top: -19px;
  font-size: 53px;
}

.talk-date {
  background: var(--ion-color-quaternary);
  box-shadow: 4px 3px 15px 1px #000000;
  border-radius: 20px;
  height: 60px;
  position: absolute;
  width: 93px;
  color: #000000;
  vertical-align: middle;
  text-align: center;
  padding: 30px 0 0 0;
  top: -19px;
  right: 0;
  font-weight: bold;
}

ion-range {
  pointer-events: none;
  --bar-height: 10px;
  --bar-border-radius: 10px;
  --bar-background: linear-gradient(to right, red, orange, yellow, #008000);
  --bar-background-active: rgba(0, 0, 0, 0);
  --knob-border-radius: 20px;
  --knob-size: 40px;
  --knob-background: DodgerBlue;
}

ion-img {
  width: 40px;
  height: 40px;
  width: auto !important;
  align-items: center;
}

ion-card {
  --background: #2b2e2f;
  border-radius: 20px;
  box-shadow: 4px 3px 15px 1px #000000;
  cursor: pointer;
}

ion-card-title {
  color: #fff;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 10px;
  background: var(--ion-color-quaternary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  shadow: 4px 3px 15px 1px #000000;
}

.bottom-border {
  background: var(--ion-color-primary);
  box-shadow: 4px 3px 15px 1px #000000;
  border-radius: 20px;
  height: 5px;
  margin: 10px 0;
}

ion-footer {
  background: var(--ion-color-primary);
  text-align: center;
  padding: 10px;
  color: #fff;
}
ion-footer ion-button {
  // float: right;
  width: 100%;
}

.line {
  background: #888a8a;
  height: 1px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px #000000;
}

ion-card-content {
  font-size: 18px;
  color: #fff;
  //overflow: hidden;
//   text-overflow: ellipsis;
//   display: -webkit-box;
//   -webkit-line-clamp: 3;
//   -webkit-box-orient: vertical;
}

.time-duration {
  height: 50px;

  .in-between {
    background: var(--ion-color-primary);
    box-shadow: 4px 3px 15px 1px #000000;
    border-radius: 20px;
    height: 5px;
    margin: 33px 0;
    position: relative;

    .start-time {
      background: var(--ion-color-primary);
      box-shadow: 4px 3px 15px 1px #000000;
      border-radius: 20px;
      height: 39px;
      margin: 10px 0;
      margin: -16px 0 0 0;
      position: absolute;
      width: 93px;
      color: #fff;
      vertical-align: middle;
      text-align: center;
      padding: 10px;
    }

    .end-time {
      background: var(--ion-color-primary);
      box-shadow: 4px 3px 15px 1px #000000;
      border-radius: 20px;
      height: 39px;
      margin: -16px 0 0 0;
      position: absolute;
      width: 93px;
      color: #fff;
      vertical-align: middle;
      text-align: center;
      padding: 10px;
      right: 0px;
    }
  }
}

.speakers {
	height: 50px;
  
	.in-between {
	  background: var(--ion-color-primary-gradient);
	  border-radius: 20px;
	  height: 5px;
	  margin: 33px 0;
	  position: relative;
  
	  .text {
		background: var(--ion-color-secondary);
		border-radius: 20px;
		height: 39px;
		margin: 10px 0;
		margin: -16px 0 0 0;
		position: absolute;
		width: 93px;
		color: #fff;
		vertical-align: middle;
		text-align: center;
		padding: 10px;
	  }
	}
  }

.speaker {
	margin: 10px;
	color: #fff;
	vertical-align: middle;
	padding: 10px;
	font-size: 20px;

	.icon {
		background: var(--ion-color-secondary);
		border-radius: 20px;
		float: left;
		margin: 10px;
		color: #fff;
		vertical-align: middle;
		padding: 10px;
		font-size: 20px;
	}
	.text {
		// float: left;
		margin: 10px;
		color: #fff;
		vertical-align: middle;
		// padding: 10px;
		font-size: 20px;
	}
}

ion-chip{
	// background: var(--ion-color-secondary);
	color: #fff;
	font-size: 18px;
	padding: 5px;

	ion-avatar{
		margin: 10px;
	}
	
	ion-label{
		margin: 10px;
	}
	
}
